@font-face {
  font-family: 'Satoshi';
  src: local('Satoshi-Regular'),
       url('./fonts/Satoshi-Regular.woff') format('woff'),
       url('./fonts/Satoshi-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Satoshi Variable';
  src: local('Satoshi-Variable'),
       url('./fonts/Satoshi-Variable.woff') format('woff'),
       url('./fonts/Satoshi-Variable.woff2') format('woff2');
}

body{
  background-color: #fffcf2;
}

.header-css{
  background-image: url('./images/Dots.png');
  padding-top: 6px;
  width: 1500px;
  height: 720px;
  flex-shrink: 0;
}

.header_content{
  padding: 236px, 360px, 424px, 182px;
}
.logo{
  padding: 60px;
  margin-left: 112px;
}

.logo_img{
  width: 92.584px;
  height: 92.584px;
  margin-left: 45px;
  position: absolute;
}
.logo_heading_content{
  display: flex;
  
  width: 206px;
  height: 55.551px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
}

.content_1{
  color: #211D33;
  font-family: 'Satoshi Variable';
  font-size: 46.292px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  line-height: 70px;
}

.content_2{
  color: #211D33;
  font-family: 'Satoshi Variable';
  margin: 52px, 0px, 0px,0px;
  font-size: 46.292px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  line-height: 70px;
  
}

.content_3{
  color: #211D33;
  margin: 52px, 0px, 0px,0px;
  font-size: 46.292px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 70px;
}

/* Subheading CSS */

.subheading_1{
  display: flex;
  margin-left: 182px;
  margin-top: 62px;
  width: 898px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.subheading_1_content{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px; /* 187.5% */
  letter-spacing: -3.2px;
}
.subheading_2{
  font-family: Satoshi;
  margin: 0px;
  max-width: 1176px;
  max-height: 320px;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 126px; /* 105% */
  letter-spacing: -6px;
}
.subheading_2_content{
  font-family: 'Satoshi';
  background: linear-gradient(52deg, #FF6662 0%, #D7AA80 52.54%, #1BDCDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 182px;
  margin: 0px;
  margin-top:20px ;
}

/* Header Image List */
.header_images{
  display: flex;
  justify-content: space-evenly;
  padding: 73px;
  margin-top: 7px;
}

.header_image_list{
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
}

/* center Heading, Line image and Ellipse CSS */
.center_heading{
  display: flex;
  width: 488px;
  height: 96px;
  padding-left: 145px;
  margin-top: 230px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.center_heading_text{
  font-family: 'Satoshi';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 115px; /* 130.682% */
  letter-spacing: -4.4px;

  background: linear-gradient(45deg, #FF6662 0%, #D7AA80 52.54%, #1BDCDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center_content_line{
  position: absolute;
  margin: 490px ;
  margin-top: 509px;
  width: 368px;
  height: 1px;
  background: #211D33;

}

.center_content_Ellipse_container{
  position: absolute;
  max-height: 292px;
  margin-left: -118px;
  height: 292px;
  flex-shrink: 0;
}
.center_content_Ellipse{
  width: 303px;
  max-width: 100%;
  max-height: 100%;
  
  border-radius: 303px;
  opacity: 0.5;
  background: linear-gradient(50deg, #FF6662 0%, #F4C395 50.74%, #1BDCDC 100%);
  mix-blend-mode: multiply;
  filter: blur(100px);
}

/* Center Cards CSS */
.center_card_container{
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1060px;
}

.card_1{
  width: 470px;
  height: 480px;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  padding: 20px;
}
.card_1_heading_container{
  display: flex;
  width: 304px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.card_1_heading_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
  padding: 12px;
}
.card_1_image_container{
  width: 429px;
  height: 168px;
  padding: 20px;
}
.card_1_image{
  border-radius: 16px;
  border: 1px solid #211D33;
  background: lightgray 50% / cover no-repeat;
}
.card_1_description_container{
  display: flex;
  width: 427px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.card_1_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.16px;
}

/* center Card 2 css */
.card_2{
  width: 475px;
  height: 580px;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  padding: 20px;
}
.card_2_heading_container{
  display: flex;
  width: 450px;
  height: 148px;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
}
.card_2_heading_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
  padding: 12px;
}
.card_2_image_container{
  width: 429px;
  height: 168px;
  padding: 20px;
}
.card_2_image{
  border-radius: 16px;
  border: 1px solid #211D33;
  background: lightgray 50% / cover no-repeat;
}
.card_2_description_container{
  display: flex;
  width: 429px;
  height: 192px;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.card_2_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* center card 3 CSS */
.card_3{
  width: 470px;
  height: 540px;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  margin-right: 517px;
  margin-top: -100px;
  padding: 20px;
  
}
.card_3_heading_container{
  display: flex;
  width: 429px;
  height: 136px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.card_3_heading_text{
  color: #211D33;
  font-family: Satoshi;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.8px;
  padding: 12px;
}
.card_3_image_container{
  width: 439px;
  height: 168px;
  padding: 20px;
}
.card_3_image{
  border-radius: 16px;
  border: 1px solid #211D33;
  background: lightgray 50% / cover no-repeat;
}
.card_3_description_container{
display: flex;
width: 429px;
height: 152px;
flex-direction: column;
justify-content: center;
padding-left: 25px;
}
.card_3_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.card_4_custom{
  /* background-color: #1BDCDC; */
  width: 475px;
  height: 440px;
  margin-top: -482px;
  margin-left: 511px;
}
.card_4_heading_text{
  font-size: 38px;
}
.card_4_heading_container{
  width: 354px;
}

/* Explore Card container CSS */

/* .explore_cards_container{
  width: 550px;
  margin-left: 800px;
  margin-top: -340px;
}
.explore_cards_container_heading{
  display: flex;
  width: 450px;
  height: 190px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.explore_cards_container_heading_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2.4px;
} */

.explore_cards_container_button{
  display: flex;
  width: 200px;
  height: 10px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin-top: 24px;

  border-radius: 8px;
  border: 1px solid #211D33;
  background: #FFF;
  box-shadow: 8px 8px 0px 0px #211D33;
}

.explore_cards_container_button_text{
  color: #211D33;
  text-align: center;
  font-family: 'Satoshi Variable';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -21px ;
  padding-left: 5px;
}
.arrow_right_image{
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* Center Secondary Heading */

.center_container_secondary_heading{
  margin: 180px;
  padding-top: 20px;
}
.center_container_secondary_heading_wrapper{
  display: flex;
  width: 1000px;
  height: 301px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 70px;
}
.center_container_secondary_heading_text{
  color: #211D33;
  font-family: Satoshi;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.4px;
  width: 1050px;
}
.explore_cards_container_second_button{
  margin-left: 70px;
  margin-top: 45px;
  width: 195px;
  background-color: #FFF;
  position: absolute;
}
.center_container_secondary_heading_Ellipse{
  width: 1000px;
  height: 450px;
  flex-shrink: 0;
  position: absolute;

  border-radius: 979px;
  opacity: 0.30000001192092896;
  background: linear-gradient(50deg, #FF6662 0%, #F4C395 50.74%, #1BDCDC 100%);
  mix-blend-mode: multiply;
  filter: blur(100px);  
  }
.secondary_heading_Ellipse{
  max-height: 580px;
}

/* Footer CSS */
.footer{
  margin-top: -1220px;
}
.dots_footer{
  width: 1520px;
  height: 1286px;
  flex-shrink: 0;
  position: absolute;
}
.footer_main_heading_container{
  display: flex;
  width: 640px;
  height: 191px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  margin-top: 95px;
}
.footer_main_heading_container_text{
  font-family: 'Satoshi';
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px; /* 109.091% */
  letter-spacing: -2.4px; 
  width: 620px; 
  margin-left: -10px;
  padding-left: 225px;
}
.footer_main_heading_line{
  margin-left: 605px;
  margin-bottom: 533px;
  width: 345px;
  height: 1px;
}

/* Footer Subheadings CSS */
.footer_subheadings{
  margin-top: 365px;
  margin-left: 30px;
  height: 870px;
  position: absolute;
}
.footer_subheadings_1{
  display: flex;
  padding-bottom: 25px;
}
.footer_subheadings_1_container{
  width: 572px;
  height: 160px;
  margin-left: 173px;
}
.footer_subheadings_1_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  width: 572px;
}
.footer_subheadings_1_description_container{
  width: 380px;
  height: 120px;
  padding-top: 5px;
  margin-left: -10px;
}
.footer_subheadings_1_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;  /*133.333% */
  width: 570px;
}
.subheading_3_custom_style{
padding-top: 35px;
}
.subheading_4_custom_style{
  padding-top: 40px;
}
.copy_rights_container{
  margin-top: 1480px;
  margin-left: 600px;
  padding-right: 630px;
}
.copy_rights_text{
  color: #211D33;
  text-align: center;
  font-family: 'Satoshi';
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 164.706% */
  position: absolute;
  margin-top: 1290px;
}

/* Mobile View =======================================================  */

@media only screen and (max-width: 376px) {
  .body{
    /* background-color: #1BDCDC; */
    width: 376px;
    background-image: url('./images/Dots_header_mobile.png');
    padding-top: 6px;
    height: 696px;  
    flex-shrink: 0;
    /* background-size: inherit; */
    /* background-repeat: repeat; */
  }

  .header-css{
    /* background-image: url('./images/Dots_header_mobile.png'); */
    /* padding-top: 6px; */
    max-width:376;
    /* height: 696px; */
    /* flex-shrink: 0; */
    /* background-size: inherit;
    background-repeat: repeat; */
  }
  
  /* .header_content{
    padding: 236px, 360px, 424px, 182px;
  } */
  .logo{
    padding: 60px;
    margin-left: 10px;
  }
  
  .logo_img{
    width: 64.719px;
    height: 64px;
    flex-shrink: 0;
    margin-top: -25px;
    margin-left: -20px;
  }
  .logo_heading_content{
    display: flex;
    width: 144px;
    height: 39.556px;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    margin: -30px;
    padding-top: 7px;
  }
  
  .content_1{
    color: #211D33;
    font-family: 'Satoshi Variable';
    font-size: 32.36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: -35px;
  }
  
  .content_2{
    color: #211D33;
    font-family: 'Satoshi Variable';
    font-size: 32.36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
  }
  
  .content_3{
    color: #211D33;
    font-family: 'Satoshi';
    font-size: 32.36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

/* Header Sub Heading */
.subheading{
  height: 250px;
}

.subheading_1{
  display: flex;
  width: 328px;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  margin-top: -10px;
  margin-left: 15px;
}
.subheading_1_content{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
  letter-spacing: -1.4px;
}
.subheading_2{
  display: flex;
  width: 450px;
  height: 136px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -130px;
  margin-top: 20px;
}
.subheading_2_content{
  font-family: 'Satoshi variable';
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px; /* 100% */
  letter-spacing: -2.4px;
  background: linear-gradient(52deg, #FF6662 0%, #D7AA80 52.54%, #1BDCDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 320px;
}
.header_images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  margin-top: -7px;
  width: 375px;
}

.header_image_list{
  width: 152px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 8.506px;
  background: lightgray 50% / cover no-repeat;
  margin-bottom: 25px;
}

/* center Heading, Line image and Ellipse CSS for Mobile view*/
.center_heading{
  padding-bottom: 0px;
}
.center_heading{
  display: flex;
  width: 488px;
  height: 96px;
  padding-left: 145px;
  margin-top: 230px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.center_heading_text{
  font-family: 'Satoshi variable';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -2px;
  background: linear-gradient(50deg, #FF6662 0%, #D7AA80 52.54%, #1BDCDC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 230px;
  margin-left: -120px;
  margin-top: -380px;
}
.center_content_line{
  position: absolute;
  margin-left: 115px ;
  margin-top: 70px;
  width: 90px;
  height: 1px;
  background: #211D33;
}
.center_content_Ellipse_container{
  position: absolute;
  max-height: 292px;
  margin-left: -170px;
  margin-top: -350px;
  height: 292px;
  flex-shrink: 0;
}
.center_content_Ellipse{
  width: 303px;
  height: 292px;
  flex-shrink: 0;
  
  border-radius: 303px;
  opacity: 0.9;
  background: linear-gradient(50deg, #FF6662 0%, #F4C395 50.74%, #1BDCDC 100%);
  mix-blend-mode: multiply;
  filter: blur(100px);
}

/* Center Cards CSS Mobile View*/
.center_card_container{
  margin-top: -200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 375px;
}

.card_1{
  width: 300px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  padding: 20px;
}
.card_1_heading_container{
  display: flex;
  width: 280px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -20px;
}
.card_1_heading_text{
  color: #211D33;
  font-family: 'Satoshi variable';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
}
.card_1_image_container{
  width: 320px;
  height: 168px;
  flex-shrink: 0;
  margin-left: -20px;
}
.card_1_image{
  border-radius: 7.783px;
  border: 0.486px solid #211D33;
  background: lightgray 0px -334.845px / 100% 319.069% no-repeat;
  width: 300px;
  height: 168px;
}
.card_1_description_container{
  display: flex;
  width: 427px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.card_1_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.16px;
  width: 280px;
  margin-top: 115px;
  margin-left: -20px;
}

/* center Card 2 css Mobile view */
.card_2{
  width: 300px;
  height: 528px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  padding: 20px;
}
.card_2_heading_container{
  display: flex;
  width: 295px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -20px;
}
.card_2_heading_text{
  color: #211D33;
  font-family: 'Satoshi variable';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
}
.card_2_image_container{
  width: 320px;
  height: 168px;
  flex-shrink: 0;
  margin-left: -20px;
}
.card_2_image{
  border-radius: 7.783px;
  border: 0.486px solid #211D33;
  background: lightgray 0px -334.845px / 100% 319.069% no-repeat;
  width: 300px;
  height: 168px;
}
.card_2_description_container{
  display: flex;
  width: 427px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.card_2_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.16px;
  width: 290px;
  margin-top: 115px;
  margin-left: -20px;
}

/* center card 3 Mobile CSS */
.card_3{
  width: 300px;
  height: 560px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #211D33;
  background: #FFFDF2;
  margin-left: 517px;
  margin-top: 0px;
}
.card_3_heading_container{
  display: flex;
  width: 280px;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -20px;
  margin-top: 25px;
  margin-bottom: 24px;
}
.card_3_heading_text{
  color: #211D33;
  font-family: 'Satoshi variable';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
}
.card_3_image_container{
  width: 320px;
  height: 168px;
  flex-shrink: 0;
  margin-left: -20px;
}
.card_3_image{
  border-radius: 7.783px;
  border: 0.486px solid #211D33;
  background: lightgray 0px -334.845px / 100% 319.069% no-repeat;
  width: 300px;
  height: 168px;
}
.card_3_description_container{
  display: flex;
  width: 427px;
  height: 128px;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}
.card_3_description_text{
  color: #211D33;
  font-family: 'Satoshi';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.16px;
  width: 280px;
  margin-top: 115px;
  margin-left: -20px;
}

/* center card 4 Mobile CSS */
.card_4_custom{
  height: 500px;
  margin-top: 0px;
  margin-left: 0px;
}

/* Center Secondary Heading for Mobile*/
.center_container_secondary_heading{
  padding-top: 80px;
  margin-top: 1200px;
  margin-left: -40px;
}
.center_container_secondary_heading_wrapper{
  display: flex;
  width: 320px;
  height: 280px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.center_container_secondary_heading_text{
  color: #211D33;
  text-align: center;
  font-family: 'Satoshi variable';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: -1.6px;
  width: 320px;
}
.explore_cards_container_second_button{
  margin-left: 70px;
  margin-top: 45px;
  width: 195px;
  background-color: #FFF;
  position: absolute;
  margin-left: 105px;
}
.center_container_secondary_heading_Ellipse{
  width: 340px;
  height: 355px;
  flex-shrink: 0;
  position: absolute;
  border-radius: 355px;
  background: linear-gradient(50deg, #FF6662 0%, #F4C395 50.74%, #1BDCDC 100%);
  mix-blend-mode: multiply;
  filter: blur(100px); 
  }
.secondary_heading_Ellipse{
  max-height: 580px;
  margin-left: 500px;
}

/* Footer Mobile CSS */
.footer{
  width: 375px;
  height: 1224px;
  flex-shrink: 0;
  margin-top: -1320px;
}
.dots_footer{ 
  flex-shrink: 0;
  position: absolute;
}
.footer_main_heading_container{
  display: flex;
  width: 296px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: -190px;
  margin-top: 45px;
}
.footer_main_heading_container_text{
  font-family: 'Satoshi';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: -0.5px;
}
.footer_main_heading_line{
  width: 140px;
  height: 1px;
  margin-top: 612px;
  margin-left: 395px;
}

/* Footer Subheadings CSS */
.footer_subheadings{
  margin-top: 165px;
  margin-left: 30px;
  height: 870px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.footer_subheadings_1{
  display: flex;
  padding-bottom: 25px;
  flex-direction: column;
  padding-top: 50px;
}
.footer_subheadings_1_container{
  display: flex;
  width: 327px;
  height: 96px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0px;
}
.footer_subheadings_1_text{
  color: #211D33;
  font-family: Satoshi;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.56px;
  width: 305px;
}
.footer_subheadings_1_description_container{
  display: flex;
  width: 327px;
  height: 88px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0px;
  padding-top: 25px;
}
.footer_subheadings_1_description_text{
  color: #211D33;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 327px;
}
.subheading_3_custom_style{
padding-top: 35px;
}
.subheading_4_custom_style{
  padding-top: 40px;
}
.footer_subheading_4_mobile_text{
  width: 315px;
}
.copy_rights_container{
  display: flex;
  width: 375px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.copy_rights_text{
  color: #211D33;
  text-align: center;
  font-family: 'Satoshi';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 215.385% */
  width: 375px;
  margin-left: -600px;
  margin-top: 2650px;
}

}